{% extends "_base.html" %}
{% block title %}Leaderboard{% endblock %}
{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/stupidtable/0.0.1/stupidtable.min.js"></script>
{% endblock %}
{% block css %}
.table > tbody > tr {
  cursor: pointer;
}
.user-info {
  font-size: 130%;
}
{% endblock %}
{% block body %}
<h1>{% block heading %}{{ org }} Shamer{% endblock %}</h1>
<br>
<p class='user-info'>
  <img src="{{ user.user.avatar_url }}" width='30' height='30' />
  {{ user.user.name or user.user.login }}
  {% if user.user.email %}({{ user.user.email }}){% endif %}
  {% if user.user.company or user.user.location %}from {{ user.user.company or user.user.location }}{% endif %}
</p>
{% block extra %}{% endblock %}
{% for repo, leaderboard in leaderboards.iteritems() if leaderboard %}
{% set langs = all_langs[repo].split(',') %}
  <hr>
  <h4><code>{{ repo }}</code> Leaderboard</h4>
  <table id="leaderboard" class="table table-hover">
    <thead>
      <tr>
        {% block th scoped %}{% endblock %}
      </tr>
    </thead>
    <tbody>
      {% block tb scoped %}{% endblock %}
    </tbody>
  </table>
{% endfor %}

<script>
$( document ).ready(function() {
  $("#leaderboard").stupidtable();
  $('body').on('mousedown', 'tr[href]', function(e){
    {% block open %}
    window.open($(this).attr("href"));
    {% endblock %}
    return true;
  });
});
</script>
{% block script %}{% endblock %}
{% endblock %}
