{% extends "_base.html" %}
{% block title %}Leaderboard{% endblock %}
{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/stupidtable/0.0.1/stupidtable.min.js"></script>
{% endblock %}
{% block css %}
.table > tbody > tr {
  cursor: pointer;
}
{% endblock %}
{% block body %}
<h1>{% block heading %}{{ org }} Shamer{% endblock %}</h1>
<br>
<p>
  <img src="{{ user.user.avatar_url }}" width='30' height='30' />
  {{ user.user.name }} ({{ user.user.email }}) from
  {{ user.user.company if user.user.company else user.user.location }}
</p>
{% block extra %}{% endblock %}
<hr>
<h4><code>{{ repo }}</code> Leaderboard</h4>
<table id="leaderboard" class="table table-hover">
  <thead>
    <tr>
      {% block th %}{% endblock %}
    </tr>
  </thead>
  <tbody>
    {% block tb %}{% endblock %}
  </tbody>
</table>

<script>
$( document ).ready(function() {
  $("#leaderboard").stupidtable();
  $('.table > tbody > tr').click(function() {
    {% block open %}
    window.document.location = $(this).attr("href");
    {% endblock %}
  });
});
</script>
{% block script %}{% endblock %}
{% endblock %}
