{% extends "_base.html" %}
{% block title %}Github S3 Auth Demo{% endblock %}
{% block body %}

<h1>Github S3 Auth Demo</h1>

<p>
  <img src="{{ user.user.avatar_url }}" width='30' height='30' />
  {{ user.user.name }} ({{ user.user.email }}) from 
  {{ user.user.company if user.user.company else user.user.location }}
</p>
<p>
  <h4>Validations</h4>
  <ul>
    <li>User is part of org {{ v_org[0] }}: <b> {{ user.verify_org(v_org[1]) }} </b></li>
    <li>User has push access to repo {{ v_repo[0] }}: <b> {{ user.verify_repo(v_repo[1]) }} </b></li>
    <li>User will be redirected to S3: <b> {{ user.verify_org(v_org[1]) and user.verify_repo(v_repo[1]) }} </b></li>
  </ul>
</p>

<p>
  <h4>Test Redirect</h4>
  S3 Object Key: 
  <input type='text' id='object_key'>
  <button type='button' id='object_key_btn' class='btn btn-default'>Go!</button>
</p>

{% if user.user.bio %}
<p>
{{ user.user.bio }}
</p>
{% endif %}

<script>
  $(document).ready(function() {
    $('#object_key_btn').click(function() {
      object_key = $('#object_key').val();
      url = "{{ url_for('redirect_view') }}?object_key=" + encodeURIComponent(object_key);
      window.location = url;
    });
  });
</script>

{% endblock %}
