{% extends "_base.html" %}
{% block title %}{{ object_key }} is Pending{% endblock %}
{% block meta %}
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="cache-control" content="no-store" />
<meta http-equiv="refresh" content="3;URL='{{ url_for('go_view', object_key=object_key) }}?time={{ time }}'" />
{% endblock %}
{% block body %}

<h1>Pending Upload</h1>

<p>
  <h4>Waiting For <code>{{ object_key }}</code></h4>
</p>
<p>
  The object <code>{{ object_key }}</code> in the <code>{{ bucket }}</code> bucket is not currently available.
</p>
<p>
  Please wait for the upload to finish. This page will automatically refresh.
</p>

{% endblock %}
