{% extends "_base.html" %}
{% block title %}{{ user.name or user.login }}'s Leaderboard{% endblock %}
{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/stupidtable/0.0.1/stupidtable.min.js"></script>
{% endblock %}
{% block body %}
<h1>{{ user.name or user.login }}'s Leaderboard</h1>

<table id="leaderboard" class="table table-striped table-hover">
  <thead>
      <tr>
        <th data-sort="string">Pull Request</th>
        <th data-sort="float">Ruby Coverage</th>
        <th data-sort="float">JS Coverage</th>
      </tr>
  </thead>
  <tbody>
    {% for pr, coverage in recorded.items() %}
      <tr
      href="https://github.com/localytics/localytics-rails/pull/{{ all_pr[pr].number }}"
      {% if (coverage.rb + coverage.js) > 0 %}
        class="success"
      {% elif (coverage.rb + coverage.js) < 0 %}
        class="danger"
      {% endif %}
      >
        <td>{{ all_pr[pr].title }}%</td>
        <td>{{ coverage.rb }}%</td>
        <td>{{ coverage.js }}%</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<script>
$( document ).ready(function() {
  $("#leaderboard").stupidtable();
  $('.table > tbody > tr').click(function() {
     window.open($(this).attr("href"));
  });
});
</script>
{% endblock %}
