{% extends "_leaderboard.html" %}
{% block title %}{{ user.name or user.login }}'s Leaderboard{% endblock %}
{% block heading %}{{ user.name or user.login }}'s Leaderboard{% endblock %}
{% block th %}
  <th data-sort="string">Pull Request</th>
  {% for lang in langs %}
    <th data-sort="float">{{ lang|lang_nice }} Coverage</th>
  {% endfor %}
{% endblock %}
{% block tb %}
  {% for pr, coverage in leaderboard.recorded.items() %}
    <tr
    href="https://github.com/localytics/localytics-rails/pull/{{ leaderboard.all_pr[pr].number }}"
    {% if (coverage.rb + coverage.js) > 0 %}
      class="success"
    {% elif coverage.values()|sum < 0 %}
      class="danger"
    {% endif %}
    >
      <td>{{ leaderboard.all_pr[pr].title }}</td>
      {% for lang in langs %}
        <td>{{ coverage[lang]|round(2) }}%</td>
      {% endfor %}
    </tr>
  {% endfor %}
{% endblock %}
{% block open %}
window.location.href = $(this).attr("href");
{% endblock %}
